<h1 class="mb-3">Teachers</h1>

<table class="table table-bordered table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Specialization</th>
      <th>Status</th>
      <th>Units</th>
      <th>Monthly Salary</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.specialization %></td>
        <td><%= teacher.status %></td>
        <td><%= teacher.number_of_units %></td>
        <td><%= teacher.monthly_salary %></td>
        <td>
          <%= link_to "Show", teacher, class: "btn btn-sm btn-primary" %>
          <%= link_to "Edit", edit_teacher_path(teacher), class: "btn btn-sm btn-warning" %>
          <%= link_to "Delete", teacher, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New teacher", new_teacher_path, class: "btn btn-warning mt-3" %>
